<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="post">
        <div class="post__meta">
          <a href="/+{{ post.author.username }}">
            +{{ post.author.username }}
          </a>
        </div>
        <div class="post__content">
          {{ post.content }}
          <div class="pull-right">
            <a href="/e{{ post.id }}/{{ post.author.username }}"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="/d{{ post.id }}/{{ post.author.username }}"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>